@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800i&display=swap");
:root {
  --bg-color: #26006e;
  --rock: #fe2bf1;
  --paper: #00dfba;
  --scissors: #0c7ceb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  color: var(--bg-color);
  height: 100%;
  background-color: white;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
/* Title styles */
.title {
  width: 70%;
  padding: 1%;
  margin: 2%;
  text-align: center;
  font-size: 3rem;
}
.rock {
  color: var(--rock);
  border-color: var(--rock);
}
.paper {
  color: var(--paper);
  border-color: var(--paper);
}
.scissors {
  color: var(--scissors);
  border-color: var(--scissors);
}

/* game icon */
.gameIcons {
  display: flex;
  justify-content: space-around;
}
.gameIcon {
  margin: 5%;
  cursor: pointer;
  border: 5px solid;
  border-radius: 25px;
}
.gameIcon:hover {
  box-shadow: 0 0 15px;
}
.gameIcon:active {
  box-shadow: none;
}
