@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800i&display=swap");
:root {
  --bg-color: #26006e;
  --rock: #fe2bf1;
  --paper: #00dfba;
  --scissors: #0c7ceb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  background-color: var(--bg-color);
}
