@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800i&display=swap");
:root {
  --bg-color: #26006e;
  --rock: #fe2bf1;
  --paper: #00dfba;
  --scissors: #0c7ceb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  height: 100%;
  background-color: var(--bg-color);
}

/* Title styles */
.title {
  width: 50%;
  padding: 1%;
  margin: 2% auto;
  text-align: center;
  font-size: 3rem;
  border: 5px solid white;
  border-radius: 25px;
}
.rock {
  color: var(--rock);
}
.paper {
  color: var(--paper);
}
.scissors {
  color: var(--scissors);
}
